@import "tailwindcss";

:root {
  --background: #f1f5f9;
  --foreground: #0f172a;

  --primary: #0f172a;
  --primary-hover: #1e293b;

  --success: #16a34a;
  --warning: #eab308;
  --danger: #dc2626;
}

body {
  background: var(--background);
  color: var(--foreground);
}
#reader {
  border: none !important;
  background: transparent !important;
}

#reader video {
  border-radius: 0 !important;
}

#reader__scan_region {
  background: transparent !important;
}

#reader img {
  display: none !important;
}

#reader__dashboard {
  display: none !important;
}